<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dsunsoft.module.business.dao.DeviceMapper">
     <sql id="deviceColumns">
		a.id AS "id",
		a.device_name AS "deviceName",
		a.device_no AS "deviceNo",
		a.device_type AS "deviceType",
		a.lng AS "lng",
		a.lat AS "lat",
		a.elevation AS "elevation",
		a.device_ip AS "deviceIP",
		a.conn_date AS "connDate",
		
		a.create_by AS "createBy",
		a.create_date AS "createDate",
		a.update_by AS "updateBy",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag"
	</sql>
	
	<sql id="deviceJoins">
	
	</sql>
    
	<select id="getById" resultType="com.dsunsoft.module.business.entity.Device" >
		SELECT 
			<include refid="deviceColumns"/>
		FROM device a
		<include refid="deviceJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="com.dsunsoft.module.business.entity.Device" >
		SELECT 
			<include refid="deviceColumns"/>
		FROM device a
		<include refid="deviceJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			<if test="deviceType != null">
			  and a.device_type = #{deviceType}
			</if>
			<if test="deviceNo != null and deviceNo !=''">
			  and a.device_no like concat('%',#{deviceNo},'%')
			</if>
			<if test="deviceName != null and deviceName !=''">
			  and a.device_name like concat('%',#{deviceName},'%')
			</if>
		</where>		
		 ORDER BY a.create_date DESC 
	</select>

	<select id="getDeviceCount" resultType="java.lang.Integer">
		select count(*) cnt from device a
		<where>
			<if test="deviceNo != null and deviceNo !=''">
				and a.device_no like concat('%',#{deviceNo},'%')
			</if>
			<if test="deviceName != null and deviceName !=''">
				and a.device_name like concat('%',#{deviceName},'%')
			</if>
		</where>
	</select>
	
	<insert id="insert">
		INSERT INTO device(
			id,
			device_name,
			device_no,
			device_type,
			lng,
			lat,
			elevation,
			device_ip,
			conn_date,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag
		) VALUES (
			#{id},
			#{deviceName},
			#{deviceNo},
			#{deviceType},
			#{lng},
			#{lat},
			#{elevation},
			#{deviceIP},
			#{connDate},
			#{createBy},
			#{createDate},
			#{updateBy},
			#{updateDate},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE device SET 	
			device_name = #{deviceName},
			device_no = #{deviceNo},
			device_type = #{deviceType},
			lng = #{lng},
			lat = #{lat},
			elevation = #{elevation},
			device_ip = #{deviceIP},
			conn_date = #{connDate},
			update_by = #{updateBy},
			update_date = #{updateDate}
		WHERE id = #{id}
	</update>
	
	<!--物理删除-->
	<update id="deleteById">
		DELETE FROM device
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE device SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
</mapper>